<!DOCTYPE html>
{% extends "material/base.html" %}
{% block content %}

<html>
<head>
    <title>Resultados</title>
</head>

<style>
  .nav-wrapper {
    background: #287EEE;
  }

  .waves-effect {
    background: #2ECC71;
  }

  .waves-light {
    background: #2ECC71;
  }

  .highlight {
    background: #EAECEE;
  }


  * {
        margin: 0;
        padding: 0;
    }
  .imgbox {
      display: grid;
      height: 100%;
  }
  .center-fit {
      max-width: 60%;
      max-height: 60vh;
      margin: auto;
  }

  .spacer{
    padding-top:20px;
  }

</style>

<body align="center" >
  <!-- 
  -->
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


  <div class="container" >
    <form action='/' method="POST" >

      <textarea id="code" name="code"  class="materialize-textarea"></textarea>
      
  
      <button class="btn waves-effect waves-light" type="submit" value="submit" name="action" >  Ejecutar
        <i class="material-icons right"> </i>
      </button>
  
    </form>

  </div>
 
  <div class="row spacer container" >
    {% if result%}
    <p class="center-align">  <B>{{result}}</B> </p>
    {% else %}
    <p class="center-align"> No ejecutado </p>
    {% endif %}
  </div>


</body>

</html>

{% endblock %}
