<!DOCTYPE html>
{% extends "material/base.html" %}
{% block content %}

<html>
<head>
    <title>Resultados</title>
</head>

<style>
  .nav-wrapper {
    background: #287EEE;
  }

  .waves-effect {
    background: #2ECC71;
  }

  .waves-light {
    background: #2ECC71;
  }

  .highlight {
    background: #EAECEE;
  }


  * {
        margin: 0;
        padding: 0;
    }
  .imgbox {
      display: grid;
      height: 100%;
  }
  .center-fit {
      max-width: 60%;
      max-height: 60vh;
      margin: auto;
  }

  .spacer{
    padding-top:20px;
  }

</style>

<body align="center" >
  <!-- 
  -->
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="imgbox">
    <a  href="/">
      <img class="center-fit" src="../static/google.png" /> 
      <p> Motor de Busqueda para el curso de Cloud Computing - 2020 </p>
     </a>
  </div>
</body>

</html>

{% endblock %}
